<ion-view class="profile-view">
   <ion-nav-title >
      <img ng-src="images/logo.png" width="200px">

     <!--<div class="buttons pull-right" style="top: -4px;right: -7px;">
       <button class="button button-clear" ng-click="modal.show()"><i class="ion ion-compose" style="color: white;font-size: 38px;"></i> </button>
     </div>-->
   </ion-nav-title>
   <ion-content>
     <ion-refresher pulling-text="Sueltra para actualizar..." on-refresh="detailPlace()"></ion-refresher>
      <div class="top-content row" >
         <div class="profile-container">
            <div class="user-name">{{place[0].name | uppercase}}</div>
            <h5 class="user-name">({{place[0].type | uppercase}})</h5>
         </div>
         <div class="user-background-image-outer">
            <div class="multi-bg-outer finish-loading" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=7.537981,-80.782127&zoom=9&size=400x200');">

                <span class="bg-overlay"></span>
            </div>
         </div>
      </div>
              <div class="mid-bar dark-bg z1 padding" style="text-align: center;">
            <h4>{{place[0].description | uppercase }}.</h4>
            <p>
              <strong style="color: #fff;">Direccion: </strong> <span style="color: #fff;font-weight: 300;">{{place[0].address | uppercase }}</span>
            </p>
            <br>
            <button class="button button-small button-assertive" ui-sref="app.list_machine({id: id})">
              <span class="title-machine">Lista de Máquinas <i class="title-machine fa fa-user"></i></span>
            </button>
        </div>
      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-marker coords="marker.coords" idkey="marker.id"></ui-gmap-marker>
      </ui-gmap-google-map>
   </ion-content>
</ion-view>
<!--
<script id="templates/modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive" style="">
        <div class="h1 title" style="color: white">Crear Nueva Maquina</div>
        <button class="button button-clear" ng-click="modal.hide()"><i class="ion ion-close" style="color: white"></i> </button>

    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="Nombre">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Tipo</span>
          <input type="text" placeholder="Tipo">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Descripción</span>
          <input type="text" placeholder="Descripción">
        </label>
        <button class="button button-large button-assertive pull-right" ng-click="createContact(newUser)">Guardar</button>
        <div class="spacing-botton"></div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
-->
