<ion-view class="home-view">
  <ion-nav-title >
    <img ng-src="images/logo.png" width="200px">
  </ion-nav-title>
  <ion-content style="background-color: white;">
    <ion-refresher pulling-text="Sueltra para actualizar..." on-refresh="updatePlaces()"></ion-refresher>


    <div class="list" style="" ng-cloak data-ng-repeat="place in places">

      <a class="item item-avatar title-list-d div-list" ui-sref="app.details({id: place.id, latitude: place.latitude, longitude: place.longitude})">
        <img src="images/icon.png">
        <h2>{{place.name | uppercase}}</h2>
        <p>{{place.description | uppercase}}.</p>

      </a>

    </div>


  </ion-content>
</ion-view>

