<ion-view class="profile-view">
  <ion-nav-title >
    <img ng-src="images/logo.png" width="200px">

    <!--<div class="buttons pull-right" style="top: -4px;right: -7px;">
      <button class="button button-clear" ng-click="modal.show()"><i class="ion ion-compose" style="color: white;font-size: 38px;"></i> </button>
    </div>-->
  </ion-nav-title>
    <img ng-src="images/logo.png" width="200px">

    <div class="buttons pull-right" style="top: -4px;right: -7px;">
      <button class="button button-clear" ng-click="captureQr()"><i class="ion ion-compose" style="color: white;font-size: 38px;"></i> </button>
    </div>
  </ion-nav-title>
  <ion-content>
    <ion-refresher pulling-text="Sueltra para actualizar..." on-refresh="refresh()"></ion-refresher>
    <div class="list" data-ng-repeat="machine in machines">

      <a class="item item-avatar item-icon-right title-list-d div-list">
        <img class="img-list" ng-src="http://3.bp.blogspot.com/_9L69Hru9850/SypZBc7xKSI/AAAAAAAAAAM/uOZtyPyQxfE/s320/pub.jpg">
        <h2>{{machine.name | uppercase}}</h2>
        <p class="sub-title"><b>Tipo de Maquina: {{machine.typeMachine | uppercase}}</b></p>
        <p class="sub-title"><b>Balance: {{machine.balance | uppercase}}</b></p>
        <span class="badge badge-balanced" style="position:absolute;padding-top:5px;padding-bottom:5px;margin-right:65px; margin-top:50px;">{{machine.counterWin}}</span>
        <span class="badge badge-assertive" style="position:absolute;padding-top:5px;padding-bottom:5px;margin-top:50px;">{{machine.counterOut}}</span>
      </a>
    </div>
  </ion-content>
</ion-view>
